@media screen and (min-width: 1200px) and (max-width: 1490px) {
    .email_cadastro {
        width: 420px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #chamadas {
        width: 60%;
    }

    .cadastro {
        width: 60%;
    }

    .email_cadastro {
        width: 380px;
    }
}

@media screen and (min-width: 765px) and (max-width: 992px) {
    #chamadas {
        width: 90%;
    }

    .cadastro {
        width: 90%;
    }

    .texto>h3 {
        font-size: 44px;
    }

    .email_cadastro {
        width: 340px;
    }

    .submit_cadastro {
        margin-top: 10px;
        width: 120px;
    }

    #faq>h2 {
        font-size: 42px;
    }

    details {
        width: 75%;
    }
}

@media screen and (max-width: 765px) {
    #chamadas {
        width: 90%;
    }

    .texto>h3 {
        font-size: 44px;
    }

    .cadastro {
        width: 90%;
    }

    .email_cadastro {
        width: 340px;
    }

    .submit_cadastro {
        margin-top: 10px;
        width: 120px;
    }

    .destaque {
        flex-direction: column;
    }

    .texto {
        width: 100%;
    }

    .foto {
        width: 100%;
    }

    .foto>img {
        width: 100%;
    }

    #faq>h2 {
        font-size: 34px;
    }

    details {
        width: 80%;
        font-size: 20px;
    }

    footer {
        width: 100%;
        font-size: 11px;
    }

}

@media screen and (min-width: 380px) and (max-width: 440px) {
    #logo {
        max-width: 120px;
    }

    #chamadas {
        padding-top: 70px;
    }

    #principal {
        padding: 15px;
    }

    #topo {
        margin-left: 0%;
        margin-right: 0%;
    }

    .email_cadastro {
        padding-left: 0;
        padding-right: 0;
    }

    details {
        width: 72%;
    }
}

@media screen and (min-width: 320px) and (max-width: 380px) {
    #logo {
        max-width: 120px;
    }

    #chamadas {
        width: 100%;
        padding-top: 50px;
    }

    #principal {
        padding: 15px;
    }

    #topo {
        margin-left: 0%;
        margin-right: 0%;
    }

    .email_cadastro {
        padding-left: 0;
        padding-right: 0;
        width: 300px;
    }

    .botao {
        padding: 5px 10px;
    }

    select {
        padding-left: 26px;
        height: 32px;
        width: 114px;
    }

    #faq>h2 {
        font-size: 32px;
    }

    details {
        width: 80%;
        font-size: 19px;
    }
}